<div class="container mt-4">
  <input
    class="form-control mb-3"
    placeholder="Search by title or author"
    [value]="searchText()"
    (input)="searchText.set($any($event.target).value)"
    #search
  />

  <div
    class="mb-3 w-100 bg-light p-3 rounded text-white d-flex justify-content-between align-items-center"
  >
    <div class="text-black">

      <form>
        <ng-container *ngFor="let genre of genres()">
          <label class="me-3">
            <input type="radio" (change)="filterByGenre()" [value]="genre" [(ngModel)]="selectedGenre" name="genre" /> {{ genre }}
          </label>
        </ng-container>
      </form>

    </div>
  </div>

  @if(!spinnerService.getStatus() && books().length === 0){
   <app-fallback [message]="'No books found.'" />
  }

  <div class="row">
    <div class="col-12 mb-3" *ngFor="let cbook of books()">
      @if(cbook[1].length) { <h3 class="fw-bold">{{ cbook[0] }}</h3> }
      <div class="row">
        <ng-container *ngFor="let book of cbook[1]">
          <div class="col-md-3 mb-4">
            <app-book-card [book]="book"></app-book-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>
