<!-- home.component.html -->
<div class="container mt-4">
  <input
    class="form-control mb-3"
    placeholder="Search by title or author"
    [value]="searchText()"
    (input)="searchText.set($any($event.target).value)"
  />

  <div class="mb-3 w-100 bg-dark p-3 rounded text-white d-flex justify-content-between align-items-center">
    <div>
      <label class="me-3"> <input type="radio" name="genre" (change)="genre.set('')" /> All </label>
      <label class="me-3">
        <input type="radio" name="genre" (change)="genre.set('Fiction')" /> Fiction
      </label>
      <label>
        <input type="radio" name="genre" (change)="genre.set('Non-Fiction')" /> Non-Fiction
      </label>
    </div>

    <div class="justify-content-end">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="true"
        >
          Category
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">All</a></li>
          <li><a class="dropdown-item">Best Sellers</a></li>
          <li><a class="dropdown-item">New Arrivals</a></li>
          <li><a class="dropdown-item">Editor's Picks</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <ng-container>
      <div *ngIf="isLoading()" class="col-12 text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div *ngIf="!isLoading() && books().length === 0" class="col-12 text-center">
        <p>No books found.</p>
      </div>
    </ng-container>

    <div *ngIf="!isLoading() && books().length > 0" class="row w-100 mx-0">

      <div class="col-md-3 mb-4" *ngFor="let book of books()">
        <app-book-card [book]="book"> </app-book-card>
      </div>
    </div>
  </div>
</div>
